<template>
  <div>
    <h2>Foo</h2>
    <p>Date: {{ date }}</p>
    <p>Tada: {{ tada }}</p>

    <form>
      <button v-on:click="doIt">Do it!</button>
    </form>
    <div id="pane">{{ pane_text }}
    </div>
  </div>
</template>

<script src="./foo.js"></script>
