<template>
<div>
  <h2>Requests</h2>
  <h4>Pour le chargement des données appuyer sur le bouton</h4>

      <table width="50%">
        <tr>
          <td><strong>Données 1</strong></td>
          <td>
            <table>
                <tr>
                  <td align="left"><br><strong>USER Id:</strong><br></td>
                  <td align="left"><br>{{ userId }}<br></td>
                </tr>
                <tr>
                  <td align="left"><br><strong>ID:</strong><br></td>
                  <td align="left"><br>{{ id }}<br></td>
                </tr>
                <tr>
                  <td align="left"><br><strong>TITLE:</strong><br></td>
                  <td align="left"><br>{{ title }}<br></td>
                </tr>
                <tr>
                  <td align="left"><br><strong>BODY:</strong><br></td>
                  <td align="left"><br>{{ body }}<br></td>
                </tr>
            </table>
          </td>
        </tr>
    </table>
    <table>
      <tr>
        <td><p><button v-on:click="created">Charger data!</button></p></td>
        <td><p><button v-on:click="modifier">Modifier data!</button></p></td>
        <td><p><button v-on:click="deleted">Supprimer data!</button></p></td>
        <td><p><button v-on:click="ajouter">Ajouter data!</button></p></td>
      </tr>
    </table>

</div>
</template>

<script src="./requests.js"></script>
