@charset "utf-8";
/* CSS Document */
#header{
position: relative; text-align: center; width: 900px; margin: auto; height: 200px;
background-image: url(image.png); }
body {
font: 16px "Carnivalee Freakshow"; margin: auto; position: relative; width: 900px; height: auto;
background: url(images/fondpage.png) repeat-x center; }
#boite1 {
position: relative; margin: auto; margin-left: 20px; height: auto; width: 643px; float:left;
background-image: url(images/catalog.png); }
#boite2 {
position: relative; margin-left: 20px; height: 28px; width: 323px; float:left;
background-image: url(images/bottom2.png); }
#footer {
font-size: 11px Arial, sans-serif; line-height: 14px; position: relative; width: 900px; height: 80px;
background-image: url(images/piedpage.png) no-repeat center; }
